.posts-expand .post {
    margin-top: 70px;
}

@media (max-width: 767px) {
  .posts-expand .post-body {
    font-size: 14px;
  }
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 5px;
    padding-inline-start: 40px;
}